<table mat-table [dataSource]="tableOptions.dataSource" matSort #sort="matSort" class="example-container mat-elevation-z8">

    <ng-container *ngFor="let column of tableOptions.columnDefs; let colIndex = index" [matColumnDef]="column.name" [ngSwitch]="true">

        <ng-container *ngSwitchCase="column.name === selectedName">
            <th mat-header-cell *matHeaderCellDef [style.width]="column.width">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()"
                              [hidden]="!tableOptions.enableSelectAll"></mat-checkbox>
                <span [hidden]="tableOptions.enableSelectAll">靸擇</span>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(element) : null"
                              [checked]="selection.isSelected(element)"
                              [aria-label]="checkboxLabel(element)"></mat-checkbox>
            </td>
        </ng-container>

        <ng-container *ngSwitchCase="column.cellTemplate !== undefined">
            <th mat-header-cell *matHeaderCellDef [style.width]="column.width">{{column.displayName || column.name}}</th>
            <td mat-cell *matCellDef="let element">
                <ng-template [ngTemplateOutletContext]="{ element: element }" [ngTemplateOutlet]="column.cellTemplate">
                </ng-template>
            </td>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="column.width">{{column.displayName || column.name}}</th>
            <td mat-cell *matCellDef="let element">{{element[column.name]}}</td>
        </ng-container>


    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

</table>

<mat-paginator #paginator="matPaginator" [pageSizeOptions]="tableOptions.paginationPageSizes" [hidden]="!tableOptions.enablePaginationPage"></mat-paginator>
