.profile-container{
    display: inline-flex;
    margin-left: 10px;
    width: 100%;
    box-shadow: 2px 3px 8px #aaa;
}
.profile-wrapper{
    width: 100%;
    background-image: url(../../../../assets/img/profile.jpeg) ; 
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}
.profile-content{
    padding: 40px;
    width: 480px;
    background-color: rgba($color: #ffff, $alpha: 0.9);
    border-radius: 4px;
}
.basic-info{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.headshot{
    margin-right: 40px;
    width: 130px;
    height: 130px;
    img{
        width: 100%;
        border-radius: 50%;
    }
}
table{
    margin-right: 20px;
    line-height: 2;
    font-size: 16px;
    .title{
        font-weight: 700;
    }
}
select{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 32px;
}
.i18n-container{
  display: inline-flex;
  margin-right: 20px;
  align-self: start;
}