<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <sa-big-breadcrumbs icon="key" [items]="['Demo', 'Upload']"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <sa-widgets-grid>


        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false"
                     [fullscreenbutton]="false" [sortable]="false">
                    <!-- widget options:
                    usage: <div sa-widget [editbutton]="false">

                    [colorbutton]="false"
                    [editbutton]="false"
                    [togglebutton]="false"
                    [deletebutton]="false"
                    [fullscreenbutton]="false"
                    [custombutton]="false"
                    [collapsed]="true"
                    [sortable]="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-upload"></i> </span>
                        <h2>上傳作業</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget content -->
                        <div class="widget-body">

                            <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

                                <fieldset>
                                    <div class="form-group">
                                        <label>UploadFile</label>
                                        <input class="btn btn-default" type="file" name="uploadFile"
                                               (change)="onFileChange($event)"/>
                                        <div *ngIf="uploadResponse.status === 'progress'">
                                            <div class="progress progress-sm progress-striped active">
                                                <div class="progress-bar bg-color-darken" role="progressbar"
                                                     [style.width.%]="uploadResponse.message" aria-valuenow="25"
                                                     aria-valuemin="0" aria-valuemax="100">
                                                    {{uploadResponse.message}}%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group" *ngIf="uploadResponse.status !== '' && uploadResponse.status !== 'progress'">-->
                                    <!--<label>Result</label>-->
                                    <!--<textarea class="form-control" placeholder="result" rows="5">{{uploadResponse | json}}</textarea>-->
                                    <!--</div>-->
                                    <!--<div class="form-group" *ngIf="error">-->
                                    <!--<label>Error</label>-->
                                    <!--<textarea class="form-control" placeholder="result" rows="3">{{error | json}}</textarea>-->
                                    <!--</div>-->
                                </fieldset>
                                <div class="form-actions">
                                    <button class="btn btn-primary btn-lg" [disabled]="uploadForm.invalid">
                                        {{'Upload' | i18n}}
                                    </button>
                                </div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>


            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false"
                     [fullscreenbutton]="false" [sortable]="false">
                    <!-- widget options:
                    usage: <div sa-widget [editbutton]="false">

                    [colorbutton]="false"
                    [editbutton]="false"
                    [togglebutton]="false"
                    [deletebutton]="false"
                    [fullscreenbutton]="false"
                    [custombutton]="false"
                    [collapsed]="true"
                    [sortable]="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>上傳結果</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">

                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>原始檔名</th>
                                            <th>重新命名</th>
                                            <th>檔案大小</th>
                                            <th>檔案路徑</th>
                                            <th>軟刪除</th>
                                            <th>功能</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let uploadFile of uploadFiles; let i = index;">
                                            <td>{{i + 1}}</td>
                                            <td>{{uploadFile.UF_O_FILENAME}}</td>
                                            <td>{{uploadFile.UF_R_FILENAME}}</td>
                                            <td>{{uploadFile.UF_FILESIZE}}</td>
                                            <!-- <td>{{uploadFile.UF_FILEPATH}}</td> -->
                                            <td>{{uploadFile.UF_SOFT_DELETE}}</td>
                                            <td>
                                                <button class="btn btn-danger btn-xs" (click)="deleteData(uploadFile)">刪除</button>
                                                <button class="btn btn-warning btn-xs" (click)="restoreData(uploadFile)">還原</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>

        </div>
    </sa-widgets-grid>

</div>
