<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['業務作業','估價單維護','新增估價單']" icon="briefcase" class="col-sm-6 col-md-6 col-lg-6 align-middle">
    </sa-big-breadcrumbs>
    <div class="col-sm-6 col-md-6 col-lg-6 back-btn text-right">
      <a href="#/saleswork/quotation"><button type="button" class="btn btn-primary align-middle"><i class="fa fa-arrow-right"></i>返回估價單維護頁面</button></a>
    </div>
  </div>
  <!-- 查詢條件面板 START -->
  <div class="condition-container">
    <div class="title">
      <i class="fa fa-group"></i>
      <span>新增估價單資料</span>
    </div>
      <form class="form-horizontal">
        <section>
          <h3>基本資料</h3>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CustomerID">客戶編號</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="CustomerID" placeholder="請輸入客戶編號">
            </div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-warning">套用客戶資料</button>
            </div>
            <label class="control-label col-sm-1" for="FullName">客戶名稱</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="FullName" placeholder="請輸入客戶名稱">
            </div>
            <label class="control-label col-sm-1" for="QuotID">估價單號</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="QuotID" placeholder="請輸入估價單號">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CustomerTel">客戶電話</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="CustomerTel" placeholder="請輸入客戶電話">
            </div>
            <label class="control-label col-sm-1" for="FaxNO">客戶傳真</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="FaxNO" placeholder="請輸入客戶傳真號碼">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CompTaxNo">統一編號</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="CompTaxNo">
                <option>請選擇</option>
                <option></option>
              </select>
            </div>
            <label class="control-label col-sm-1" for="CompTaxNoRemarks">統一編號備註</label>
            <div class="col-sm-7">          
              <input type="text" class="form-control" id="CompTaxNoRemarks" placeholder="請輸入統一編號備註">
            </div>
          </div>
            <!-- <label class="control-label col-sm-1" for="Listed">上市櫃公司</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="Listed">
                <option>是</option>
                <option>否</option>
              </select>              
            </div> -->
          <div class="form-group">
            <label class="control-label col-sm-1" for="TIN">稅籍編號(海外)</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="TIN">
                <option>請選擇</option>
                <option></option>
              </select>          
            </div>
            <label class="control-label col-sm-1" for="TINRemarks">稅籍編號(海外)備註</label>
            <div class="col-sm-7">          
              <input type="text" class="form-control" id="TINRemarks" placeholder="請輸入稅籍編號(海外)備註">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <div class="col-sm-3">
              <label for="PostID">郵遞區號</label> 
              <input type="text" class="form-control" id="PostID " placeholder="請輸入郵遞區號"> 
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="NationID">客戶地址</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="NationID" placeholder="請輸入客戶地址">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="TIN">聯絡人</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="TIN">
                <option>請選擇</option>
                <option></option>
              </select>          
            </div>
            <label class="control-label col-sm-1" for="CellPhone">行動電話</label>
            <div class="col-sm-3">          
              <input type="text" class="form-control" id="CellPhone" placeholder="請輸入行動電話">
            </div>
            <label class="control-label col-sm-1" for="TINRemarks">電子郵件</label>
            <div class="col-sm-3">          
              <input type="text" class="form-control" id="TINRemarks" placeholder="請輸入電子郵件">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1"></label>
            <div class="col-sm-3">
              <label for="CommPostID">通訊郵遞區號</label> 
              <input type="text" class="form-control" id="CommPostID " placeholder="請輸入通訊郵遞區號"> 
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CommNationID">通訊地址</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="CommNationID" placeholder="請輸入通訊地址">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="Memo">聯絡人備註</label>
            <div class="col-sm-7">
              <textarea name="Memo" id="Memo"  rows="5"></textarea>
            </div>
            <label class="col-sm-3">(翻譯師看得到)</label>
          </div>
        </section>
        <section class="section-style">
          <h3>估價資料</h3>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CurrencyID">估價幣別</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="CurrencyID">
                <option>新台幣</option>
                <option>美元</option>
                <option>日幣</option>
              </select>          
            </div>
            <label class="control-label col-sm-1" for="ExchangeRate">估價匯率</label>
            <div class="col-sm-3">          
              <input type="text" class="form-control" id="ExchangeRate">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CurrencyMemo">其他建議幣別</label>
            <label class="control-label text-left" id="CurrencyMemo">THB / PTS Group IntematronaJ (HK) Company Limited!營業稅 0% / HK Invoice<br>
              USD / PRESIDENT TRANSLATION SERVICE GROUP INTERNATIONAL LIMITED / 營業稅 0% / Invoice<br>
              USD / PTS Group International (HK) Company Limited / 營業稅 0% / HK Invoice<br>
              USD / PTS Group International Co“ Ltd / 營業稅 0% / Invoice<br></label>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="Company">交易主體公司名稱</label>
            <div class="col-sm-4">
              <select type="text" class="form-control" id="CurrencyID">
                <option>請選擇</option>
                <option></option>
              </select>          
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="TaxRates">稅率</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="TaxRates">
                <option>請選擇</option>
                <option></option>
              </select>          
            </div>
            <label class="control-label col-sm-1" for="InvoiceType">發票開立方式</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="InvoiceType">
                <option>請選擇</option>
                <option></option>
              </select>          
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="QuotDate">估價日期</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="QuotDate">
            </div>
            <label class="control-label col-sm-1" for="ValidDays">估價單有效天數</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="ValidDays">
                <option>請選擇</option>
                <option>30天</option>
                <option>60天</option>
                <option>90天</option>
              </select>          
            </div>
            <label class="control-label col-sm-1" for="OutsideCustomerNo">客戶案件編號</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="OutsideCustomerNo" placeholder="請輸入客戶案件編號">
            </div>
          </div>
        </section>
        <section class="section-bottom">
          <h3>其他備註說明</h3>
          <div class="form-group">
            <label class="control-label col-sm-1" for="SecrecyMemo">Sales對Assigner備註</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="SecrecyMemo" id="SecrecyMemo"  rows="5"></textarea>
            </div>
            <label class="col-sm-3">(客戶/翻譯師看不到)</label>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="WorkMemo">Sales對翻譯師備註</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="WorkMemo" id="WorkMemo"  rows="5"></textarea>
            </div>
            <label class="col-sm-3">(客戶看不到)</label>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1"  for="SalesMemo">Sales交件備註</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="SalesMemo" id="SalesMemo"  rows="5"></textarea>
            </div>
            <label class="col-sm-3">(客戶/翻譯師/Assigner看不到)</label>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="InterpretationDesc">案件說明</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="InterpretationDesc" id="InterpretationDesc"  rows="5"></textarea>
            </div>
          </div>
        </section>
        <section class="section-bottom">
          <h3>未成交資料</h3>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CustomerNondeal">未成交客戶意見</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="CustomerNondeal">
                <option selected>請選擇</option>
                <option>01</option>
                <option>02</option>
              </select> 
            </div>
            <label class="control-label col-sm-1" for="SalesNondeal">未成交意見說明</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="SalesNondeal" id="SalesNondeal"  rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="SalesNondeal">未成交原因</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="SalesNondeal">
                <option selected>請選擇</option>
                <option>01</option>
                <option>02</option>
              </select> 
            </div>
            <label class="control-label col-sm-1" for="NoDealMemo">未成交原因說明</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="NoDealMemo" id="NoDealMemo"  rows="5"></textarea>
            </div>
          </div>
        </section>
        <div class="btn-container">
          <button type="button" class="btn  btn-success"><i class="fa  fa-check"></i>確定新增</button>
          <button type="button" class="btn btn-danger"><i class="fa fa-times"></i>取消新增</button>
        </div>
    </form>
  </div>    
  </div>