/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/* ----- NAVUGATION ITEM  START ----- */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.menu-on-top aside#left-panel nav > ul > li > a,
.menu-on-top aside#left-panel nav > ul > li > a:hover,
.menu-on-top aside#left-panel nav > ul > li > a:link,
.menu-on-top aside#left-panel nav > ul > li > a:active {
  height: 50px;
  padding: 10px 35px 10px 25px !important;
  /* padding: 10px 25px 10px 24px !important; */
  display: flex;
}

.menu-on-top .menu-item-parent {
  overflow: visible;
  max-width: 85%;
  min-width: 85%;
}

/*toggle-btn */
.menu-on-top nav>ul>li>a:after {
  color: #ffff !important;
  top: 61% !important;
}
.menu-on-top nav ul ul .active>a{
  color: #fff;
}
.menu-on-top nav ul ul{
  background-color: #064E6E !important;
}
/* ----- NAVUGATION ITEM END ----- */


.page-footer {
  height: 30px;
  background-color: #084460;
}

.panel-default > .panel-heading {
  background-color: #8DB6B2;
  color: #fff;
}

#extr-page {
  display: flex;
  align-items: center;
  background: url("../img/gtais/gtais3.0background.jpeg") no-repeat center fixed;
  background-size: cover;
}

#extr-page #main {
  width: 100vw;
  background: transparent;
}
#main{
  background-color: #FFFAE2;
}

#extr-page #header {
  height: 65px;
  border-bottom: 1px solid rgb(22, 18, 28) !important;
  overflow: hidden;
  padding: 0 30px;
  border-width: 0;
  min-height: 30px;
  background: rgba(22, 18, 28 , .9) !important;
}

sa-big-breadcrumbs {
  top: -5rem;
  margin-bottom: -5rem;
}


/* smartadmin datepicker css */
/* .ui-datepicker{width:17em;padding:.2em .2em 0;display:none} */ */
/* .ui-datepicker .ui-datepicker-header{position:relative;border:0;font-weight:700;width:100%;padding:4px 0;background-color:#f5f5f5;color:gray}.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-next span,.ui-datepicker .ui-datepicker-prev span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td a,.ui-datepicker td span{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker-cover{display:none;display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}.ui-datepicker th{font-weight:700;color:gray}.ui-datepicker-today a:hover{background-color:gray;color:#fff}.ui-datepicker-today a{background-color:#BFBFBF;cursor:pointer;padding:0 4px;margin-bottom:0}.ui-datepicker td a{margin-bottom:0;border:0}.ui-datepicker td:hover{color:#fff}.ui-datepicker td .ui-state-default{border:0;background:0 0;margin-bottom:0;padding:5px;color:gray;text-align:center;filter:none}.ui-datepicker td .ui-state-highlight{color:#fff;background-color:#A90329;text-shadow:0 -1px 0 rgba(0,0,0,.25);border-color:rgba(0,0,0,.1)rgba(0,0,0,.1)rgba(0,0,0,.25);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.ui-datepicker td .ui-state-active{color:#333;background-color:#ebebeb;margin-bottom:0;font-size:normal;text-shadow:0;border-color:rgba(0,0,0,.1)rgba(0,0,0,.1)rgba(0,0,0,.25);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.ui-datepicker td .ui-state-hover{color:#fff;background:#428bca;background-color:#428bca;text-shadow:0 -1px 0 rgba(0,0,0,.25);border-color:#357ebd;border-color:rgba(0,0,0,.1)rgba(0,0,0,.1)rgba(0,0,0,.25);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0} */