form{
    padding: 20px;
}
.back-btn{
    top: -3em;
    margin-bottom: -5rem;
}
.detail-container{
    margin: 0 0 30px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
}
.section{
    &-middle{
        margin: 20px  0;
        padding: 20px 0;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }
    &-bottom{
        margin: 20px  0;
        border-bottom: 1px solid #bbb;
    }
}
.bottom-container{
    display: flex;
    .bottom-content{
        width: 50%;
    }
}
.mg-left{
    margin-left: 40px;
}
.title{
    display: flex;
    align-items: center;
    height: 34px;
    color: #fff;
    background-color: #8DB6B2;
}
.sub-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fa-group{
    margin: 0 5px 0 10px;
}
.btn-container{
   margin-bottom: 10px;
}
.mr-top{
    margin-top: 20px;
}
.discount-container{
    padding-top: 20px;
    border-top: 1px solid #ddd
}
.discount-text{
    color: rgb(10, 64, 126);
}
.table-container{
    margin-left: 0;
    margin-right: 0;
}
input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
.checkbox-item{
    width: 60px;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
.checkbox-item{
    width: 60px;
}
.pd-top{
    padding-top: 20px;
}