<!-- MAIN CONTENT -->
<div id="content">

  <div class="row">
    <sa-big-breadcrumbs icon="key" [items]="['Restful', 'Select']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <!-- widget grid -->
  <sa-widgets-grid>


    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [sortable]="false">
          <!-- widget options:
          usage: <div sa-widget [editbutton]="false">

          [colorbutton]="false"
          [editbutton]="false"
          [togglebutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
          [custombutton]="false"
          [collapsed]="true"
          [sortable]="false"

          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
            <h2>Select Form</h2>

          </header>

          <!-- widget div-->
          <div>


            <!-- widget content -->
            <div class="widget-body">

              <form [formGroup]="authForm" (ngSubmit)="onSubmit(buttonType)">

                <fieldset>
                  <input name="authenticity_token" type="hidden">
                  <div class="form-group">
                    <label>ID</label>
                    <input class="form-control" formControlName="U_ID" placeholder="ID" type="text">
                  </div>
                  <div class="form-group">
                    <label>PW</label>
                    <input class="form-control" formControlName="U_PW" placeholder="PW" type="password">
                  </div>
                  <div class="form-group">
                    <label>Result</label>
                    <textarea class="form-control" placeholder="result" rows="10">{{result | json}}</textarea>
                  </div>
                </fieldset>
                <div class="form-actions">
                  <button class="btn btn-primary btn-lg" (click)="onSubmit(buttonType.login)" [disabled]="authForm.invalid">
                    {{'Login' | i18n}}
                  </button>
                  <button class="btn btn-default btn-lg" (click)="onSubmit(buttonType.logout)">
                    {{'Logout' | i18n}}
                  </button>
                  <button class="btn btn-default btn-lg" (click)="onSubmit(buttonType.reLoadSession)">
                    {{'ReLoadSession' | i18n}}
                  </button>
                  <button class="btn btn-default btn-lg" (click)="onSubmit(buttonType.version)">
                    {{'Version' | i18n}}
                  </button>
                </div>
              </form>

            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
    </div>
  </sa-widgets-grid>

</div>
