<div class="quo-request-container">
  <div class="btn-container">
    <button type="button" class="btn btn-warning btn-margin-right"><i class="fa  fa-print"></i>預覽列印</button>
    <button type="button" class="btn btn-primary btn-margin-right"><i class="fa fa-send"></i>發送Email</button>
  </div>
  <div class="quo-request-content">
    <div class="top-row">
      <h2>翻譯需求</h2>
      <div class="detail">
        <p>填表業務：Shane</p>
        <p>填表日期:2020/08/20</p>
      </div>
    </div>
    <form>
      <div class="form-item">
        <div>1.請問文件是否有對應的專有名詞(Glossary 或 String text)可以提供參考？</div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_1" id="Q1_answer1">
            有
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_1" id="Q1_answer2">
            無
          </label>
        </div>
      </div>
      <div class="form-item">
        <div>2.請問文件是否有參考資料（範例/舊版本/排版指南）可以提供？</div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_2" id="Q2_answer1">
            有
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_2" id="Q2_answer2">
            無
          </label>
        </div>
      </div>
      <div class="form-item">
        <div>3.請問文件用途為何？（多選）</div>
        <div class="multiple-selection">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">商業用途
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2">產品型錄/手冊印刷
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3">公證類文件
          </label>
        </div>
        <div class="multiple-selection">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">廣告行銷
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2">教育訓練
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3">法律/訴訟
          </label>
        </div>
        <div class="multiple-selection">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">公文/函
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2">學術報告
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3">新聞稿
          </label>
        </div>
        <div class="multiple-selection">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">對外簡報
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2">招標文件
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3">檢驗測試報告
          </label>
        </div>
        <div class="multiple-selection">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">論文/期刊
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2">網頁
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3">專利
          </label>
        </div>
        <div class="multiple-selection">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">企業內部管理資料
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2">企業公開資訊
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3">軟體本土化
          </label>
        </div>
        <div class="multiple-selection">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">軟體介面文字
          </label>
          <label class="checkbox-inline multiple-input">
            <input type="checkbox" id="inlineCheckbox2" value="option2">其他
            <input type="input" id="inlineCheckbox2">
          </label>
        </div>
      </div>
      <div class="form-item">
        <div>4.請問文件的類型為何？</div>
        <input type="text" class="form-control" id="Q1" placeholder="請輸入文件類型">
      </div>
      <div class="form-item">
        <div>5.請問圖片裡的文字（無法編輯處）是否需要翻譯？</div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_5" id="Q5_answer1">
            有
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_5" id="Q5_answer2">
            無
          </label>
        </div>
      </div>
      <div class="form-item">
        <div>6.請問交件時的檔案格式/版本為何？如未指定，將以原始格式或WORD格式交件
        </div>
        <label class="tips-text">❉若有指定的檔案格式/版本請在下方輸入
          <input type="text" class="form-control col-sm-12" id="Q1" placeholder="請輸入檔案格式/版本">
        </label>
      </div>
      <div class="form-item">
        <div>7.排版時版面的特殊要求為何，請詳述需求或提供排版指南，可避免認知上的落差。
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_7" id="Q7_answer1">
            不需要排版
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_7" id="Q7_answer2">
            與原文大致相似即可
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_7" id="Q7_answer3">
            與原文一致（例如：字體大小、字距、欄寬）
          </label>
        </div>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="form-item">
        <div>8.產品名稱、公司名稱、人名…等，是否需要翻譯？</div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_8" id="Q8_answer1">
            不需要翻譯，保留原文
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_8" id="Q8_answer2">
            翻譯並保留原文（原譯文並列）
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_8" id="Q8_answer3">
            翻譯並刪除原文
          </label>
        </div>
      </div>
      <div class="form-item">
        <div>9.產品名稱、公司名稱、人名…等，翻譯規則為何？</div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_9" id="Q9_answer1">
            漢語拼音
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_9" id="Q9_answer2">
            通用拼音
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_9" id="Q9_answer3">
            羅馬拼音
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_9" id="Q9_answer4">
            不確定
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_9" id="Q9_answer2">
            客戶客戶事前提供
          </label>
        </div>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="form-item">
        <div>10.若文件為OSD字串，請問是否有字元數限制？</div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_10" id="Q10_answer1">
            有
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_10" id="Q10_answer2">
            無
          </label>
        </div>
      </div>
      <div class="form-item">
        <div>11.請問產品操作介面的圖利是否需要按語言別做更換？</div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_11" id="Q11_answer1">
            有
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quenstion_11" id="Q11_answer2">
            無
          </label>
        </div>
      </div>
      <div class="form-item">
        <div>12.此份文件是否有上述未提及的特殊需求？</div>
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>