.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.d-flex {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

label {
    margin-left: 1rem;
}

.filter {
    &__item {
        width: 70%;
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: 700px) {
            flex-direction: column;
        }

    }
}
