<div class="d-flex">
    <label for="">日期與時段</label>
    <div class="filter__item">
        <mat-form-field color="primary" style="margin-right: .5rem;">
            <mat-label>開始時間</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="primary">
            <mat-label>結束時間</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
    </div>
</div>