<!-- MAIN CONTENT -->
<div id="content">

  <div class="row">
    <sa-big-breadcrumbs [items]="['業務作業', '客戶維護','新增客戶']" icon="briefcase" class="col-sm-6 col-md-6 col-lg-6 align-middle">
    </sa-big-breadcrumbs>
    <div class="col-sm-6 col-md-6 col-lg-6 back-btn text-right">
      <a href="#/saleswork/customer"><button type="button" class="btn btn-primary align-middle"><i class="fa  fa-arrow-right"></i>返回客戶維護頁面</button></a>
    </div>
  </div>
  <!-- 查詢條件面板 START -->
  <div class="condition-container">
    <div class="title">
      <i class="fa fa-group"></i>
      <span>新增客戶資料</span>
    </div>
      <form class="form-horizontal">
        <section>
          <h3>基本資料</h3>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CustomerID">客戶編號</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="CustomerID" placeholder="請輸入客戶編號">
            </div>
            <label class="control-label col-sm-1" for="FullName"><span class="must-icon">*</span>客戶名稱</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="FullName" placeholder="請輸入客戶名稱">
            </div>
            <label class="control-label col-sm-1" for="FLFullName">客戶名稱(外文)</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="FLFullName" placeholder="請輸入客戶名稱(外文）">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CustomerTel"><span class="must-icon">*</span>客戶電話</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="CustomerTel" placeholder="請輸入客戶電話">
            </div>
            <label class="control-label col-sm-1" for="CustomerFaxNO">客戶傳真</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="CustomerFaxNO" placeholder="請輸入客戶傳真號碼">
            </div>
            <label class="control-label col-sm-1" for="industry"><span class="must-icon">*</span>產業別</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="industry">
                <option selected>請選擇</option>
                <option>test1</option>
                <option>test2</option>
              </select>  
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="SupplierID">供應商代碼</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="SupplierID">
                <option selected>請選擇</option>
                <option>test1</option>
                <option>test2</option>
              </select>          
            </div>
            <label class="control-label col-sm-1" for="VIP"><span class="must-icon">*</span>重點客戶</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="VIP">
                <option>是</option>
                <option selected>否</option>
              </select>          
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="Rank">客戶分級</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="Rank">
                <option selected>請選擇</option>
                <option>第一級</option>
                <option>第二級</option>
                <option>第三級</option>
                <option>機密客戶</option>
              </select>
            </div>
            <label class="control-label col-sm-1" for="Listed"><span class="must-icon">*</span>上市櫃公司</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="Listed" (change)="myVar1 = !myVar1"> 
                <option selected>請選擇</option>
                <option>是</option>
                <option>否</option>
              </select>  
            </div>
            <div [hidden]="!myVar1">
              <label class="control-label col-sm-1" for="CompTaxNoRemarks">股票代號</label>
              <div class="col-sm-3">          
                <input type="text" class="form-control" id="CompTaxNoRemarks" placeholder="請輸入股票代號">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CompTaxNo">統一編號</label>
            <div class="col-sm-3">          
              <input type="text" class="form-control" id="CompTaxNo" placeholder="請輸入統一編號">
            </div>
            <label class="control-label col-sm-1" for="CompTaxNoRemarks">統一編號備註</label>
            <div class="col-sm-3">          
              <input type="text" class="form-control" id="CompTaxNoRemarks" placeholder="請輸入統一編號備註">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="CompTaxNo2">稅籍編號</label>
            <div class="col-sm-3">          
              <input type="text" class="form-control" id="CompTaxNo2" placeholder="請輸入稅籍編號">
            </div>
            <label class="control-label col-sm-1" for="CompTaxNoRemarks">稅籍編號備註</label>
            <div class="col-sm-3">          
              <input type="text" class="form-control" id="CompTaxNoRemarks" placeholder="請輸入稅籍編號備註">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1"><span class="must-icon">*</span>客戶地址</label>
              <div class="col-sm-3">
                <select type="text" class="form-control" name="CustomerAddress" (change)="myVar2 = !myVar2">
                  <option>國內</option>
                  <option>國外</option>
                </select> 
              </div>
          </div>
          <div class="form-group" *ngIf="!myVar2">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <select type="text" class="form-control" id="aaa">
                <option selected>請選擇縣/市</option>>
                <option>台北市</option>>
                <option>新北市</option>
                <option>桃園市</option>
                <option>新竹市</option>
                <option>苗栗縣</option>
              </select> 
            </div>
            <div class="col-sm-2">
              <select type="text" class="form-control" id="InvoiceDate">
                <option selected>請選擇市/區/鄉/鎮</option>>
              </select> 
            </div>
            <div class="col-sm-1">
              <input type="text" class="form-control" id="Tel" placeholder="郵遞區號">
            </div>
            <div class="col-sm-2">
              <select type="text" class="form-control" id="InvoiceDate">
                <option selected>請選擇街/路/段</option>>
              </select>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="Tel" placeholder="請輸入地址">
            </div>
          </div>
          <div class="form-group" *ngIf="myVar2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <input type="text" class="form-control" id="Tel" placeholder="請輸入國外客戶完整地址">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1"><span class="must-icon">*</span>發票地址</label>
              <div class="col-sm-3">
                <select type="text" class="form-control" id="InvoiceDate" (change)="myVar3 = !myVar3"> 
                  <option selected>國內</option>
                  <option>國外</option>
                </select> 
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> 同公司地址
                </label>
              </div>
          </div>
          <div class="form-group" *ngIf="!myVar3">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <select type="text" class="form-control" id="aaa">
                <option selected>請選擇縣/市</option>>
                <option>台北市</option>>
                <option>新北市</option>
                <option>桃園市</option>
                <option>新竹市</option>
                <option>苗栗縣</option>
              </select> 
            </div>
            <div class="col-sm-2">
              <select type="text" class="form-control" id="InvoiceDate">
                <option selected>請選擇市/區/鄉/鎮</option>>
              </select> 
            </div>
            <div class="col-sm-1">
              <input type="text" class="form-control" id="Tel" placeholder="郵遞區號">
            </div>
            <div class="col-sm-2">
              <select type="text" class="form-control" id="InvoiceDate">
                <option selected>請選擇街/路/段</option>>
              </select>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="Tel" placeholder="請輸入地址">
            </div>
          </div>
          <div class="form-group" *ngIf="myVar3">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <input type="text" class="form-control" id="Tel" placeholder="請輸入國外客戶完整地址">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="OldFullName">舊客戶名稱</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="OldFullName" placeholder="請輸入舊客戶名稱"> 
            </div>
            <label class="control-label col-sm-1" for="OldFLFullName">舊客戶名稱（外文）</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="OldFLFullName"  placeholder="請輸入舊客戶名稱（外文"> 
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="AddingDate">新增日期</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="AddingDate" value="2020/08/04" disabled="disabled"> 
            </div>
            <label class="control-label col-sm-1" for="EnglishName">建檔人員</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="EnglishName" value="Shane" disabled="disabled"> 
            </div>
          </div>
        </section>
        <section class="section-style other-tax-no">
          <h3>其他統一編號/稅籍編號</h3>
          <div class="form-group">
            <div class="col-sm-1">項次</div>
            <div class="col-sm-2">其他統一編號</div>
            <div class="col-sm-2">其他稅籍編號</div>
            <div class="col-sm-2">其他編號公司名稱</div>
            <div class="col-sm-3">備註</div>
            <div class="col-sm-2">功能</div>
          </div>
          <div class="form-group">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control"> 
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control"> 
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control"> 
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control"> 
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-success" (click)="add_new_taxno();"><i class="fa  fa-plus"></i>新增項目</button>
            </div>
          </div>
        </section>
        <section class="section-bottom">
          <h3>帳款資料</h3>
          <div class="form-group">
            <label class="control-label col-sm-1" for="PayMethod">付款方式</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="PayMethod">
                <option>是</option>
                <option>否</option>
              </select> 
            </div>
            <label class="control-label col-sm-1" for="CustBankID">付款單位</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="CustBankID"> 
            </div>
            <label class="control-label col-sm-1" for="AccountName">付款人</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="AccountName"> 
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="AccountTel">付款人電話</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="AccountTel"> 
            </div>
            <label class="control-label col-sm-1" for="CustCurr">客戶幣別</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="CustCurr">
                <option selected>請選擇</option>
                <option>新台幣</option>
                <option>人民幣</option>
                <option>美金</option>
                <option>日元</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-1" for="InvoiceDate">發票日</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="InvoiceDate">
                <option selected>請選擇</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
              </select> 
            </div>
            <label class="control-label col-sm-1" for="ReqDay">請款日</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="ReqDay">
                <option selected>請選擇</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
              </select> 
            </div>
            <label class="control-label col-sm-1" for="MonthPayDay">月結天數</label>
            <div class="col-sm-3">
              <select type="text" class="form-control" id="MonthPayDay">
                <option selected>請選擇</option>
                <option>30</option>
                <option>45</option>
                <option>60</option>
                <option>90</option>
              </select> 
            </div>
          </div>
        </section>
        <div class="btn-container">
          <button type="button" class="btn  btn-success"><i class="fa  fa-check"></i>確定新增</button>
          <button type="button" class="btn btn-danger"><i class="fa fa-times"></i>取消新增</button>
        </div>
    </form>
  </div>    
  </div>