form{
    padding: 20px;
    padding-right: 30px;
}
.section{
    &-style{
        margin: 20px  0;
        padding: 20px 0;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }
    &-bottom{
        margin: 20px  0;
        border-bottom: 1px solid #bbb;
    }
}
.condition{
    &-container{
        margin: 0 0 30px;
        width: 100%;
        min-height: 350px;
        background-color: #fff;
        border: 1px solid #ccc;
    }
}
.title{
    display: flex;
    align-items: center;
    height: 34px;
    color: #fff;
    background-color: #8DB6B2;
}
.fa-group{
    margin: 0 5px 0 10px;
}
.fa{
    margin-right: 10px;
}
.btn-container{
   text-align: right;
   .btn-success{
        margin-right: 10px;
   }
}

textarea{
    width: 100%;
}
.stop-btn{
    text-align: right;
}
.back-btn{
    top: -3em;
    margin-bottom: -5rem;
}
