<div class="container">
  <h2>評價列表</h2>
  <p-accordion>
    <p-accordionTab header="WW9000531-1,WW9000531-2,WW9000531-3,WW9000531-4,WW9000531-5" [selected]="true">
      <form class="form-horizontal">
        <h3 class="sub-title">(一）潤稿師評價</h3>
        <div class="content">
          <div class="form-group rating-container">
            <div class="rating-content">
              <div class="col-sm-6">
                <h5>翻譯速度</h5>
                <p-rating  stars="10" [cancel]="false"></p-rating>
              </div>
            </div>
            <div class="rating-content">
              <div class="col-sm-6">
                <h5>翻譯品質</h5>
                <p-rating  stars="10" [cancel]="false"></p-rating>
              </div>
            </div>
          </div>
          <div class="form-group rating-container">
            <div class="rating-content">
              <div class="col-sm-6">
                <h5>文法正確性</h5>
                <p-rating  stars="10" [cancel]="false"></p-rating>
              </div>
            </div>
            <div class="rating-content">
              <div class="col-sm-6">
                <h5>專有名詞應用</h5>
                <p-rating stars="10" [cancel]="false"></p-rating>
              </div>
            </div>
          </div>
          <div class="btn-container">
            <button type="submit" class="btn btn-success btn-margin-right"><i class="fa fa-save"></i>儲存</button>
            <button type="reset" class="btn btn-danger"><i class="fa  fa-times"></i>取消</button>
          </div>
        </div>
        <h3 class="sub-title">(二）Assginer評價</h3>
        <div class="content">
          <div class="form-group rating-container">
            <div class="rating-content">
              <div class="col-sm-6">
                <h5>配合程度</h5>
                <p-rating  stars="10" [cancel]="false"></p-rating>
              </div>
            </div>
            <div class="rating-content">
              <div class="col-sm-6">
                <h5>翻譯品質</h5>
                <p-rating stars="10" [cancel]="false"></p-rating>
              </div>
            </div>
          </div>
          <div class="form-group rating-container">
            <div class="rating-content">
              <div class="col-sm-6">
                <h5>工作態度</h5>
                <p-rating stars="10" [cancel]="false"></p-rating>
              </div>
            </div>
            <div class="rating-content">
              <div class="col-sm-6">
                <h5>回應速度</h5>
                <p-rating stars="10" [cancel]="false"></p-rating>
              </div>
            </div>
          </div>
          <div class="btn-container">
            <button type="submit" class="btn btn-success btn-margin-right"><i class="fa fa-save"></i>儲存</button>
            <button type="reset" class="btn btn-danger"><i class="fa  fa-times"></i>取消</button>
          </div>
        </div>

<h3 class="sub-title">(三）客戶評價</h3>
<div class="content">
  <div class="form-group rating-container">
    <div class="rating-content">
      <div class="col-sm-6">
        <h5>配合程度</h5>
        <p-rating stars="10" [cancel]="false"></p-rating>
      </div>
    </div>
    <div class="rating-content">
      <div class="col-sm-6">
        <h5>翻譯品質</h5>
        <p-rating stars="10" [cancel]="false"></p-rating>
      </div>
    </div>
  </div>
  <div class="form-group rating-container">
    <div class="rating-content">
      <div class="col-sm-6">
        <h5>翻譯正確性</h5>
        <p-rating stars="10" [cancel]="false"></p-rating>
      </div>
    </div>
    <div class="rating-content">
      <div class="col-sm-6">
        <h5>符合要求程度</h5>
        <p-rating stars="10" [cancel]="false"></p-rating>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button type="submit" class="btn btn-success btn-margin-right"><i class="fa fa-save"></i>儲存</button>
    <button type="reset" class="btn btn-danger"><i class="fa  fa-times"></i>取消</button>
  </div>
</div>
</form>
</p-accordionTab>
<p-accordionTab header="WW9000531-6">
  <form class="form-horizontal">
    <h3 class="sub-title">(一）Assginer評價</h3>
    <div class="content">
      <div class="form-group rating-container">
        <div class="rating-content">
          <div class="col-sm-6">
            <h5>配合程度</h5>
            <p-rating stars="10" [cancel]="false"></p-rating>
          </div>
        </div>
        <div class="rating-content">
          <div class="col-sm-6">
            <h5>翻譯品質</h5>
            <p-rating stars="10" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
      <div class="form-group rating-container">
        <div class="rating-content">
          <div class="col-sm-6">
            <h5>工作態度</h5>
            <p-rating stars="10" [cancel]="false"></p-rating>
          </div>
        </div>
        <div class="rating-content">
          <div class="col-sm-6">
            <h5>回應速度</h5>
            <p-rating stars="10" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <button type="submit" class="btn btn-success btn-margin-right"><i class="fa fa-save"></i>儲存</button>
        <button type="reset" class="btn btn-danger"><i class="fa  fa-times"></i>取消</button>
      </div>
    </div>
    <h3 class="sub-title">(二）客戶評價</h3>
    <div class="contnet">
      <div class="form-group rating-container">
        <div class="rating-content">
          <div class="col-sm-6">
            <h5>配合程度</h5>
            <p-rating stars="10" [cancel]="false"></p-rating>
          </div>
        </div>
        <div class="rating-content">
          <div class="col-sm-6">
            <h5>翻譯品質</h5>
            <p-rating stars="10" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
      <div class="form-group rating-container">
        <div class="rating-content">
          <div class="col-sm-6">
            <h5>翻譯正確性</h5>
            <p-rating stars="10" [cancel]="false"></p-rating>
          </div>
        </div>
        <div class="rating-content">
          <div class="col-sm-6">
            <h5>符合要求程度</h5>
            <p-rating stars="10" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <button type="submit" class="btn btn-success btn-margin-right"><i class="fa fa-save"></i>儲存</button>
        <button type="reset" class="btn btn-danger"><i class="fa  fa-times"></i>取消</button>
      </div>
    </div>
  </form>
</p-accordionTab>
</p-accordion>
</div>